@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Sarala', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #201b2c;
}

header {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.6vh;
    background-color: #1b1624;
}

li {
    display: inline;
    margin: 3vh;
}

.cabecalho {
    list-style: none;
    color: #fff;
    text-decoration: none;
}

.cabecalho:hover {
    color: rgb(167, 167, 167);
}

#inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 5vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#text_inicio {
    height: 40vh;
}

#text_inicio>h2 {
    font-size: 10vh;
    color: rgb(209, 206, 206);
}

#nome{
    color: #00ff88;
    animation: joao 10s linear infinite;
}

.btn_inicio {
    width: 25vh;
    height: 6vh;
    font-size: 3vh;
    margin-right: 3vh;
    background-color: #00ff88;
    border: none;
}

#monitor{
    width: 50vh;
    height: 35vh;
}

#bem_vindo {
    font-size: 3vh;
    color: #00ff88;
    letter-spacing: 0.2vh;
    padding: 1vh;
    background-color: #514869;
    border: 0.3vh solid black;
}

#sobre_mim {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text_sobre_mim {
    font-size: 3vh;
    color: rgb(165, 165, 165);
    width: 80%;
    background-color: #2f2841;
    border-radius: 4vh;
    padding: 2vh;
    box-shadow: 2vh 1vh 11vh rgba(0, 0, 0, 0.69);
}

h4 {
    font-size: 7vh;
    color: #00ff88;
}

#foto {
    margin: 2vh;
    width: 50vh;
    border-radius: 4vh;
    border: #00ff88 0.3vh solid;
    float: left;
}

#projetos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text_projetos {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

h3 {
    font-size: 10vh;
    color: #00ff88;
    margin-top: 10vh;
}

.card_projeto {
    width: 60vh;
    height: 70vh;
    margin: auto;
    text-align: center;
}

.img_projeto {
    margin: 1vh;
    width: 50vh;
    height: 30vh;
}

.img_projeto:hover {
    scale: 1.15;
    transition: 0.4s;
}

h5 {
    font-size: 4vh;
    color: #03e079;
}

.descricao {
    font-size: 2vh;
    color: rgb(199, 199, 199);
}

.tecnologias {
    font-size: 2.5vh;
    color: #1c995f;
}

.btn_visualizar {
    width: 30vh;
    height: 6vh;
    font-size: 3vh;
    margin-top: 2vh;
    background-color: #03e079;
    border: none;
}

button:hover {
    scale: 1.06;
    transition: 0.2s;
    background-color: #fff;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(126, 126, 126);
    font-size: 2vh;
    background-color: #0f0d14;
}

.rede_social {
    text-align: center;
    width: 6vh;
    margin: 1vh;
    border: #00ff88 0.1vh solid;
    border-radius: 50%;
    background-color: #00ff88;
}

.rede_social:hover {
    background-color: #fff;
}

#monitor{
    border: 0.4vh solid #00ff88;
    border-radius: 4vh;
    background-color: #201b2c;
}

#joao{
    text-align: center;
    font-size: 10vh;
    color: #00ff88;
    animation: joao 10s linear infinite;
}

.inputs{
    color: #fff;
    background-color: rgb(114, 114, 114);
    font-size: 4vh;
    text-align: center;
    margin: 2vh auto;
    width: 15vh;
    border: none;
}

#input{
    display: flex;
    justify-content: center;
}

#ligar{
    animation: ligar 10s linear infinite;
}

#desligar{
    animation: desligar 10s linear infinite;
}

@keyframes joao {
    0%{
        color: #201b2c;
    }
    49.9%{
        color: #201b2c;
    }
    50%{
        color: #00ff88;
    }
    100%{
        color: #00ff88;
    }
}

@keyframes ligar {
    0%{
        background-color: #1c1725;
    }
    49.9%{
        background-color: #1c1725;
    }
    50%{
        background-color: #00ff88;
    }
    100%{
        background-color: #00ff88;
    }
}

@keyframes desligar {
    0%{
        background-color: #00ff88;
    }
    49.9%{
        background-color: #00ff88;
    }
    50%{
        background-color: #1c1725;
    }
    100%{
        background-color: #1c1725;
    }
}