@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --text-color: #fff;
  --primary-color: #0d091d;
  --secondary-color: #1e1544;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

header {
  position: absolute;
  width: 100vw;
  padding: 2rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  gap: 2rem;
}

li {
  list-style: none;
}

li > a {
  color: var(--text-color);
}

li > .line {
  width: 0;
  height: 3px;
  background-color: var(--text-color);
  transition: 0.3s;
  border-radius: 1px;
}

li > a:hover ~ .line {
  width: 100%;
}

.decoration1 {
  box-shadow: 0px 0px 300px 200px rgba(0, 254, 253, 0.3);
  position: absolute;
  z-index: -1;
}

.decoration2 {
  box-shadow: 0px 0px 300px 200px rgba(251, 0, 139, 0.3);
  position: absolute;
  top: 100vh;
  right: 0;
  z-index: -1;
}

.decoration3 {
  box-shadow: 0px 0px 300px 200px rgba(0, 254, 253, 0.4);
  position: absolute;
  top: 180vh;
  left: 20vw;
  z-index: -1;
}

.decoration4 {
  box-shadow: 0px 0px 300px 200px rgba(138, 56, 252, 0.4);
  position: absolute;
  top: 280vh;
  right: 20vw;  
  z-index: -1;
}

.decoration5 {
  box-shadow: 0px 0px 300px 200px rgba(202, 56, 252, 0.3);
  position: absolute;
  top: 440vh;
  left: 20vw;  
  z-index: -1;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 10rem 16vh 10rem;
  z-index: 996;
}



.content-home p {
  font-size: 1.5rem;
  color: var(--text-color);
  opacity: 0.6;
}

h4 {
  font-size: 4rem;
  font-weight: 1000;
  color: var(--text-color);
}

.icon-social-media {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.icon-link {
  width: 36px;
  transition: 0.3s;
  cursor: pointer;
}

.icon-link:hover {
  opacity: 0.1;
}

#sobre-mim{
  width: 100%;
  padding: 5vw 10rem;
  color: var(--text-color);
  z-index: 990;
}

.container-me{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border-radius: 24px;
  box-shadow: 5px 10px 35px 4px rgba(0, 0, 0, 0.75);
  letter-spacing: 1px;
  overflow: hidden;
  gap: 2vw;
  padding: 5vw;
}

.content-me > p {
  margin: 2vw 0;
}

.skills{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-skill{
  text-align: center;
}

.card-skill img{
  width: 48px;
}

.card-skill p {
  font-size: 0.7rem;
}

.projects {
  width: 100vw;
  padding: 0 10rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 5vw;

}

.project_introdution {
  width: 100vw;
  padding: 0 10rem 5vw 10rem;
  color: var(--text-color);
}

.project_introdution > h1, .content-me h1 {
  font-size: 4rem;
  font-weight: 700;
}

.project_introdution > p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  opacity: 0.7;
}

.project span {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.inf {
  font-size: 1.1rem;
  letter-spacing: 1px;
  max-width: 600px;
  opacity: 0.7;
}

.date, .language{
  opacity: 0.7;
}

.container-video {
  width: 45vw;
  height: auto;
  border-radius: 24px;
  border: 10px solid #000000;
  background-color: #000000;
  position: relative;
  box-shadow: 5px 10px 35px 4px rgba(0, 0, 0, 0.75);
}

video {
  width: 100%;
  border-radius: 14px;
  position: absolute;
}

.detail-video {
  background-color: #000000;
  width: 50%;
  height: 4%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 25px 25px;
}

.container-video-mobile{
  display: none;
  width: 100%;
}

.margin {
  margin: 22.5px 0;
}

.btns{
  display: flex;
  align-items: center;
  gap: 2vw;
}

button {
  background: var(--secondary-color);
  color: var(--text-color);
  width: 176px;
  height: 65px;
  border-radius: 12px;
  border: none;
  margin-right: 2%;
  transition: 0.3s;
  box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.2);
}

button:hover {
  scale: 0.9;
  opacity: 0.8;
  box-shadow: none;
}

.img-video {
  width: 100%;
  height: auto;
  border-radius: 14px;
}

footer {
  width: 100%;
  padding: 6vh 10rem;
  background-color: var(--secondary-color);
  z-index: 994;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0px -6px 19px -7px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
}

.circle {
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: 0.3s;
}

.circle:hover {
  opacity: 0.6;
}

.circle-mobile{
  display: none;
}

@media screen and (max-width:1024px) {
  header{
    padding: 1rem 4rem;
  }

  .home{
    height: 90vh;
    padding: 0 4rem 16vh 4rem;
  }

  #sobre-mim{
    padding: 5vw 4rem;
  }

  .content-me h1{
    font-size: 2.5rem;
  }

  .content-me{
    font-size: 1rem;
  }

  .project_introdution{
    padding: 0 4rem 5vw 4rem;
    font-size: 1rem;
  }

  .project_introdution h1{
    font-size: 2.5rem;
  }

  .projects{
    padding: 0 4rem;
  }

  .project span{
    font-size: 2.5rem;
  }

  .project {
    font-size: 1rem;
  }

  .container-video{
    display: none;
  }

  .container-video-mobile{
    display: block;
  }

  .inf{
    max-width: none;
  }

  .btns{
    width: 100%;
  }

  .btns a {
    width: 100%;
  }

  button{
    width: 100%;
  }

  footer{
    padding: 6vh 4rem;
  }
}

@media screen and (max-width: 700px) {
  header{
    padding: 1rem;
  }

  ul{
    display: none;
  }

  .home{
    height: 100vh;
    padding: 1rem 1rem;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .content-home{
    display: flex;
    flex-direction: column;
  }

  .content-home p {
    font-size: 1rem;
  }

  .content-home h4 {
    font-size: 16vw;
  }

  #sobre-mim{
    padding: 5vw 1rem;
  }

  .card-skill{
    margin-bottom: 1vw;
    margin: auto;
  }

  .skills{
    flex-wrap: wrap;
  }

  .container-me > img {
    display: none;
  }

  .content-me h1{
    font-size: 2rem;
  }

  .content-me{
    font-size: 1rem;
  }

  .project_introdution{
    padding: 0 1rem 5vw 1rem;
    font-size: 1rem;
  }

  .project_introdution h1{
    font-size: 2rem;
  }

  .projects{
    padding: 0 1rem;
  }

  .project span{
    font-size: 2rem;
  }

  .project {
    font-size: 1rem;
  }

  .container-video{
    display: none;
    border-radius: 12px;
    border: 6px solid #000000;
  }

  video{
    border-radius: 6px;
  }

  .img-video{
    border-radius: 6px;
  }

  .container-video-mobile{
    display: block;
  }

  .inf{
    max-width: none;
  }

  .btns{
    width: 100%;
    display: block;
  }

  .btns a {
    width: 100%;
  }

  button{
    width: 100%;
    margin-bottom: 2vw;
  }

  footer{
    padding: 4vh 1rem 2vh 1rem;
    gap: 6vw;
    flex-direction: column;
  }

  .circle{
    display: none;
  }

  .circle-mobile{
    display: block;
  }
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}